In [1]:
import pandas as pd 
import geopandas as gpd
from shapely.geometry import Point, Polygon, LineString

In [2]:
donggu = pd.read_csv('D:/Project/대전시 빅데이터 공모전/file/화장실정보/동구_화장실정보.csv')
yusung = pd.read_csv('D:/Project/대전시 빅데이터 공모전/file/화장실정보/유성구_화장실정보.csv')
daeduck = pd.read_csv('D:/Project/대전시 빅데이터 공모전/file/화장실정보/대덕구_화장실정보.csv')
junggu = pd.read_csv('D:/Project/대전시 빅데이터 공모전/file/화장실정보/중구_화장실정보.csv')

In [3]:
donggu.head()

   연번                 화장실명           주소        lat         lon
0   1            삼성시장/개선공사      삼성동 459  36.337437  127.431241
1   2                 삼성시장    삼성동 154-8  37.510043  127.057768
2   3                 삼성시장   삼성동 285-37  36.337644  127.425727
3   4  저소득층밀집지역/개선공사(2017)  성남동 205-172  36.345643  127.432359
4   5             저소득층밀집지역      인동 16-2  36.323855  127.437875

In [4]:
yusung.head()

,연번,구분,화장실명,소재지,설치\n년도,면적\n(㎡),관리부서,행정동,lat,lon
0,1,공원,동화울수변공원,관평동 771,2006,56.14,공원과,관평동,36.424603,127.394291
1,2,공원,장배기공원,관평동 886,2006,72.06,공원과,관평동,36.427670,127.386279
2,3,하천,구암동화장실,구암동 527-218,2012,39.44,재난안전과,온천1동,36.357071,127.331747
3,4,공원,창리어린이공원,구암동 588-9,2011,24.80,공원과,온천1동,36.355223,127.333358
4,5,공원,궁동근린공원,궁동 391,2018,11.50,공원과,온천2동,36.364846,127.351075

In [5]:
daeduck.head()

   구분      설치년도       화장실명         위치        lat         lon
0  공원  2010.7.1    효성공원(1)  오정동 375-5  36.353458  127.414776
1  공원  2018(개축)    효성공원(2)  오정동 423-3  36.349106  127.410861
2  공원  2018(개축)    효성공원(3)  오정동 374-2  36.352940  127.414269
3  공원  2018(개축)  오정동 게이트공원  오정동 111-4  36.355501  127.416467
4  공원    2014.8       두리공원     대화동 24  36.364795  127.419192

In [6]:
junggu.head()

,연번,명칭,위치,지역,면적,형태,관리부서,lat,lon
0,1,신채호선생생가,단재로229번길 29,문화재,40.50,수세식,문화체육과,36.232430,127.410133
1,2,중촌 게이트볼장,중촌동 143-1,체육시설,4.03,재래식,문화체육과,36.343254,127.407671
2,3,농촌테마마을,운남로85번길 32-8,문화재,62.02,수세식,경제기업과,36.278233,127.407859
3,4,으능정이고객지원센터,중교로 83,기 타,96.95,수세식,경제기업과,36.327108,127.428537
4,5,대전천변 공중화장실,대전천서로 439,기 타,21.80,수세식,경제기업과,36.328102,127.429847

In [7]:
'''
df['lon'] = df['lon'].astype(float)
df['lat'] = df['lat'].astype(float)
df['geometry'] = df.apply(lambda row : Point([row['lat'], row['lon']]), axis=1)
df = gpd.GeoDataFrame(df, geometry='geometry')
'''

"\ndf['lon'] = df['lon'].astype(float)\ndf['lat'] = df['lat'].astype(float)\ndf['geometry'] = df.apply(lambda row : Point([row['lat'], row['lon']]), axis=1)\ndf = gpd.GeoDataFrame(df, geometry='geometry')\n"

In [8]:
#동구
donggu['lon'] = donggu['lon'].astype(float)
donggu['lat'] = donggu['lat'].astype(float)
donggu['geometry'] = donggu.apply(lambda row : Point([row['lat'], row['lon']]), axis=1)
donggu = gpd.GeoDataFrame(donggu, geometry='geometry')

In [9]:
#유성구
yusung['lon'] = yusung['lon'].astype(float)
yusung['lat'] = yusung['lat'].astype(float)
yusung['geometry'] = yusung.apply(lambda row : Point([row['lat'], row['lon']]), axis=1)
yusung = gpd.GeoDataFrame(yusung, geometry='geometry')

In [10]:
#대덕구
daeduck['lon'] = daeduck['lon'].astype(float)
daeduck['lat'] = daeduck['lat'].astype(float)
daeduck['geometry'] = daeduck.apply(lambda row : Point([row['lat'], row['lon']]), axis=1)
daeduck = gpd.GeoDataFrame(daeduck, geometry='geometry')

In [11]:
#중구
junggu['lon'] = junggu['lon'].astype(float)
junggu['lat'] = junggu['lat'].astype(float)
junggu['geometry'] = junggu.apply(lambda row : Point([row['lat'], row['lon']]), axis=1)
junggu = gpd.GeoDataFrame(junggu, geometry='geometry')

In [12]:
donggu.head()

,연번,화장실명,주소,lat,lon,geometry
0,1,삼성시장/개선공사,삼성동 459,36.337437,127.431241,POINT (36.337 127.431)
1,2,삼성시장,삼성동 154-8,37.510043,127.057768,POINT (37.510 127.058)
2,3,삼성시장,삼성동 285-37,36.337644,127.425727,POINT (36.338 127.426)
3,4,저소득층밀집지역/개선공사(2017),성남동 205-172,36.345643,127.432359,POINT (36.346 127.432)
4,5,저소득층밀집지역,인동 16-2,36.323855,127.437875,POINT (36.324 127.438)

In [13]:
donggu.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연번        49 non-null     int64
 1   화장실명      49 non-null     object
 2   주소        49 non-null     object
 3   lat       49 non-null     float64
 4   lon       49 non-null     float64
 5   geometry  49 non-null     geometry
dtypes: float64(2), geometry(1), int64(1), object(2)
memory usage: 2.4+ KB

In [14]:
#geo_json으로 변환 
donggu.to_file('D:/python/donggu_geo.geojson', driver='GeoJSON')
yusung.to_file('D:/python/yusung_geo.geojson', driver='GeoJSON')
daeduck.to_file('D:/python/daeduck.geojson', driver='GeoJSON')
junggu.to_file('D:/python/junggu.geojson', driver='GeoJSON')